body {
  
color:black;
font-family:Georgia, 'Times New Roman', Times, serif;


}


h1 {
    text-align: center;


}

h3 {
    text-align: center;


}
button {
        display:block;
}

#bienvenida {
    display: none;
    padding-top: 200px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 270px;
    background-image: url(img/bandera-ucrania-fondo.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    }
    
#introduccion {
    display: block;
  
    }
#instrucciones {
    display: none;
   
    }
#encriptar {
    display: none;
   
    }
#decifrar {
    display: none;
  
    }