body {
  
color:black;
font-family:Georgia, 'Times New Roman', Times, serif;

}


h1 {
    text-align: center;


}

h3 {
    text-align: center;


}


button {


}


#bienvenida {
    display: block;
    padding-top: 200px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 270px;
    background-image: url(img/bandera-ucrania-fondo.PNG);



    }

#introduccion {
    display: none;
  
    }
#instrucciones {
    display: none;
   
    }
#encriptar {
    display: none;
   
    }
#decifrar {
    display: none;
  
    }