header{
    padding-top: 200px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    font-size: 250%;
    background-color: dodgerblue;
}
body {
  
color:black;
font-family:Georgia, 'Times New Roman', Times, serif;


}


h1 {
    text-align: center;


}

h3 {
    text-align: center;


}

#bienvenida {
    display: none;
    padding-top: 200px;
    padding-left: 100px;
    padding-right: 50px;
    padding-bottom: 270px;
    text-align: center;
    background-color: yellow;
    
    }
    
#introduccion {
    display: none;
    padding-top: 200px;
    padding-left: 100px;
    padding-right: 50px;
    padding-bottom: 270px;
    text-align: center;
  
    }
#instrucciones {
    display: block;
    padding-top: 200px;
    padding-left: 100px;
    padding-right: 50px;
    padding-bottom: 270px;
    text-align: center;
    }
#encriptar {
    display: none;
    padding-top: 200px;
    padding-left: 100px;
    padding-right: 50px;
    padding-bottom: 270px;
    text-align: center;
    }
#decifrar {
    display: none;
    padding-top: 200px;
    padding-left: 100px;
    padding-right: 50px;
    padding-bottom: 270px;
    text-align: center;
    }

#textoEncriptado {
    width: 100%;
    height: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    height: 150px;

}
#textoDecifrado {
    width: 100%;
    height: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    height: 150px;

}